
<link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
<style>
    tbody tr:nth-of-type(odd) {
        background-color: rgba(0, 0, 0, .05);
    }
    .v-data-table-header {
        background-image: -webkit-linear-gradient(#c3d8f1, #2fa4e7 60%, #1d9ce5);
    }

    table tr > td {
        border-left: 1px solid #dddddd;
    }

    table tr > th {
        border-left: 1px solid #fff;
    }
</style>
<div id="app">
    <v-app id="inspire">
        <v-data-table :headers="headers"
                      :items="items"
                      :search="search"
                      item-key="name"
                      sort-by="calories"
                      class="elevation-1"
                      :footer-props="footerProps"
                      :header-props="headerProps">
            <template v-slot:top>
                <v-toolbar flat color="white">
                    <v-text-field v-model="search"
                                  append-icon="mdi-magnify"
                                  label="Tìm kiếm"
                                  single-line
                                  hide-details></v-text-field>
                    <v-spacer></v-spacer>
                    <v-dialog v-model="dialog" max-width="600px">
                        <template v-slot:activator="{ on }">
                            <v-btn color="primary" dark class="mb-2" v-on:click="CreateDV">Thêm mới</v-btn>
                        </template>
                        <v-card>
                            <v-card-title>
                                <span class="headline">{{ formTitle }}</span>
                            </v-card-title>
                            <v-form ref="form"
                                    v-model="valid"
                                    lazy-validation>
                                <v-card-text>
                                    <v-container fluid>
                                        <v-row>
                                            <v-col cols="6" sm="6" md="6">

                                                <v-text-field v-model="editedItem.item_donvi.Ten_Donvi"
                                                              label="Tên đơn vị"
                                                              :rules="[v => !!v || 'Vui lòng nhập tên đơn vị']"
                                                              required
                                                              dense></v-text-field>
                                            </v-col>

                                            <v-col cols="6" sm="6" md="6">
                                                <v-select :items="itemnhom"
                                                          v-model="editedItem.item_donvi.Nhom_Donvi"
                                                          :rules="[v => !!v || 'Yêu cầu chọn nhóm đơn vị']"
                                                          required
                                                          label="Nhóm đơn vị"
                                                          outlined
                                                          dense></v-select>
                                            </v-col>
                                            <v-col cols="6" sm="6" md="6">
                                                <v-text-field v-model="editedItem.item_donvi.Thutu_Donvi" label="Thứ tự"></v-text-field>
                                            </v-col>
                                            <v-col cols="6" sm="6" md="6">
                                                <v-text-field v-model="editedItem.item_donvi.Mota_Donvi" label="Mô tả"></v-text-field>
                                            </v-col>
                                            
                                        </v-row>
                                    </v-container>
                                </v-card-text>
                            </v-form>
                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn color="primary" v-on:click="save">Lưu</v-btn>
                                <v-btn color="success" @click="close">Trở về</v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-dialog>
                </v-toolbar>

            </template>
            <template v-slot:item.action="{ item }">
                <v-icon small
                        class="mr-2"
                        @click="editItem(item)">
                    mdi-pencil
                </v-icon>
                <v-icon small
                        @click="deleteItem(item)">
                    mdi-delete
                </v-icon>
            </template>
            <template v-slot:[`footer.rowsPerPageText`]="items">
                Số dòng hiển thị:
            </template>
            <template v-slot:[`footer.page-text`]="items">
                {{ items.pageStart }} - {{ items.pageStop }} Trong tổng số {{ items.itemsLength }}
            </template>
        </v-data-table>
        <!--<v-container fluid>
            <v-row>
                <v-col cols="8">
                    <v-text-field v-model="search"
                                  append-icon="mdi-magnify"
                                  label="Tìm kiếm"
                                  single-line
                                  hide-details></v-text-field>
                </v-col>
                <v-col cols="4 text-right" style="padding-top:9px">

                    <v-btn color="primary" dark class="mb-2" v-on:click="CreateDV">Thêm mới</v-btn>

                </v-col>

            </v-row>
            <br />
        </v-container>
        <v-data-table :headers="headers"
                      :items="items"
                      item-key="name"
                      :items-per-page="10"
                      :search="search"
                      dense
                      class="elevation-1"
                      @click:row="handleClick"
                      :footer-props="{'items-per-page-text':'Số dòng hiển thị'}">
            <v-toolbar flat color="white">
            <template v-slot:top>

                <v-dialog v-model="dialog" max-width="800px">
                    <v-card>
                        <v-card-title>
                            <span class="headline">{{ formTitle }}</span>
                        </v-card-title>

                        <v-card-text>
                            <v-container>
                                <v-row>
                                    <v-col cols="12" sm="6" md="4">
                                        <v-text-field v-model="editedItem.item_donvi.Ten_Donvi" label="Tên đơn vị"></v-text-field>
                                    </v-col>
                                    <v-col cols="12" sm="6" md="4">
                                        <v-text-field v-model="editedItem.item_donvi.Mota_Donvi" label="Mô tả"></v-text-field>
                                    </v-col>
                                    <v-col cols="12" sm="6" md="4">
                                        <v-select :items="itemnhom" label="Nhóm đơn vị" v-model="editedItem.item_donvi.Nhom_Donvi"></v-select>
                                    </v-col>
                                    <v-col cols="12" sm="6" md="4">
                                        <v-text-field v-model="editedItem.item_donvi.Thutu_Donvi" label="Thứ tự"></v-text-field>
                                    </v-col>
                                </v-row>
                            </v-container>
                        </v-card-text>

                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn color="blue darken-1" text @click="save">Lưu</v-btn>
                            <v-btn color="blue darken-1" text @click="close">Trở về</v-btn>
                        </v-card-actions>
                    </v-card>
                </v-dialog>
                </v-toolbar>

            </template>
            <template v-slot:item.action="{ item }">
                <v-icon small
                        class="mr-2"
                        @click="editItem(item)">
                    sửa
                </v-icon>
                <v-icon small
                        @click="deleteItem(item)">
                    xóa
                </v-icon>
            </template>

            <template v-slot:[`footer.page-text`]="items">
                {{ items.pageStart }} - {{ items.pageStop }} Trong tổng số {{ items.itemsLength }}
            </template>
        </v-data-table>-->
    </v-app>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.1.2/axios.min.js"></script>
<script src="https://unpkg.com/vue-toasted"></script>

<script>
    const toastOptions = {
        position: 'bottom-right',
        duration: 2000,
        theme: "toasted-primary"
    }
    Vue.use(Toasted, toastOptions);
    new Vue({
        el: '#app',
        vuetify: new Vuetify(
            {
                lang: {
                    locales: {
                        'vi': {
                            "dataIterator": {
                                "rowsPerPageText": "Tổng số trang:",
                                "rowsPerPageAll": "Tất cả",
                                "pageText": "{0}-{1} trong tổng số {2}",
                                "noResultsText": "Không tìm thấy dữ liệu",
                                "nextPage": "Trang tiếp theo",
                                "prevPage": "Trang trước "
                            },
                            "dataTable": {
                                "rowsPerPageText": "Số dòng hiển thị:"
                            },
                            "noDataText": "Dữ liệu chưa sẵn sàng",
                        }
                    },
                    current: 'vi'
                }
            }),
        data() {
            return {
                URL_API: "/DesktopModules/lct/api/LctAPI/",
                dialog: false,
                search: '',
                headers: [
                    {
                        text: 'STT',
                        align: 'left',
                        sortable: false,
                        value: 'STT_Donvi',
                    },
                    { text: 'Tên đơn vị', value: 'Ten_Donvi' },
                    { text: 'Nhóm', value: 'Nhom_Donvi' },
                    { text: 'Mô tả', value: 'Mota_Donvi' },
                    { text: 'Thứ tự', value: 'Thutu_Donvi' },
                    { text: 'Hành động', value: 'action', sortable: false },
                ],
                itemnhom: ['Khối tỉnh', 'Khối huyện'],
                items: [],
                item_donvi: [],
                editedIndex: -1,
                editedItem: {
                    Ten_Donvi: '',
                    Nhom_Donvi: '',
                    Mota_Donvi: '',
                    Thutu_Donvi: '',
                    item_donvi: {},
                },
                defaultItem: {
                    Ten_Donvi: '',
                    Nhom_Donvi: '',
                    Mota_Donvi: '',
                    Thutu_Donvi: '',
                    item_donvi: {},
                },
                footerProps: {
                    itemsPerPageOptions: [5, 10, 20, 30, -1],
                    itemsPerPageText: 'Số dòng hiển thị:',
                    itemsPerPageAllText: 'Tất cả',
                    showFirstLastPage: true,
                    showCurrentPage: true,
                },
            }
        },
        created() {
            this.GetListDonvi();
        },

        computed: {
            formTitle() {
                return this.editedIndex === -1 ? 'Thêm mới đơn vị' : 'Cập nhật đơn vị'
            },
        },

        watch: {
            dialog(val) {
                val || this.close()
            },
        },

        methods: {
            async GetListDonvi() {
                this.loading = true;
                let result = await axios({
                    method: 'get',
                    url: this.URL_API + 'GetList',
                    data: {}
                }).then(function (response) {
                    return response;
                });
                this.loading = false;              
                this.items = result.data;
                this.editedItem.item_donvi = result.data;
                /*  console.log = (result);*/

            },
            async UpdateDonvi() {
                this.loading = true;
                let result = await axios({
                    method: 'post',
                    url: this.URL_API + 'UpdateDonvi',
                    data: {
                        ID_Donvi: this.editedItem.item_donvi.ID_Donvi,
                        Ten_Donvi: this.editedItem.item_donvi.Ten_Donvi,
                        Mota_Donvi: this.editedItem.item_donvi.Mota_Donvi,
                        Nhom_Donvi: this.editedItem.item_donvi.Nhom_Donvi,
                        Thutu_Donvi: this.editedItem.item_donvi.Thutu_Donvi,
                    }
                }).then(function (response) {
                    return response;
                });
                this.loading = false;
                //this.items = result.data;
                //console.log = (result);
                if (result.data.status == "FALSE") {
                    this.$toasted.error('Xử lý thất bại', toastOptions);
                }
                else {
                    this.$toasted.success('Xử lý thành công', toastOptions);
                    this.GetListDonvi();

                }
            },
            async DeleteDonvi(item) {
                this.loading = true;
                let result = await axios({
                    method: 'get',
                    url: this.URL_API + 'DeleteDonvi?ID=' + item.ID_Donvi,
                    data: {}
                }).then(function (response) {
                    return response;
                });
                this.loading = false;
               /* this.items = result.data;*/
                if (result.data == "FALSE") {
                    this.$toasted.error('Xóa đơn vị thất bại', toastOptions);
                    this.GetListDonvi();
                }
                else {
                    this.$toasted.success('Xóa đơn vị thành công', toastOptions);
                    this.GetListDonvi();
                }
                this.dialog = false
            },
            editItem(item) {
                this.editedIndex = this.items.indexOf(item)
                this.editedItem.item_donvi = Object.assign({}, item)
                this.dialog = true
            },

            deleteItem(item) {
                const index = this.items.indexOf(item)
                var i = confirm('Bạn có chắc chắn muốn xóa?') && this.items.splice(index, 1)
                if (i != 0) {
                    this.DeleteDonvi(item);
                }

            },

            close() {
                this.dialog = false
                setTimeout(() => {
                    this.editedItem = Object.assign({}, this.defaultItem)
                    this.editedIndex = -1
                }, 300)
            },

            save() {
                //if (this.editedIndex > -1) {
                //    Object.assign(this.items[this.editedIndex], this.editedItem)
                //} else {
                //    this.items.push(this.editedItem)
                //}
                var validation = this.$refs.form.validate();
                if (validation == true) {
                    this.UpdateDonvi();
                    this.close();
                }
                else {
                    this.$toasted.error('Vui lòng điền thông tin', toastOptions);
                }
                

            },
            resetValidation() {
                this.$refs.form.resetValidation()
            },
            CreateDV() {
                this.resetValidation();
                this.editedItem.item_donvi = {};
                this.dialog = true
            },
            handleClick(value) {
                this.editedItem.item_donvi(value);
            },
        },
    })</script>
